/* appel d'une balise*/
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blue;
    position: absolute;
    left: -15000px;
    text-align: right;
    background-color: red;
    background-image: url(images/bureau.jpg);
}

/* appel d'une class*/
.nomClass {

}

/* appel d'un ID*/
#nomID {

}

/* appel de plusieurs chose*/
#nomID , div {

}

/* appel enfant direct*/
.class > h1 {

}

/* appel avec attribut*/
.class input [type="text"] {

}

/* appel speudo élément (choisir le premier paragraphe)*/
.class p:first-of-type::first-line {

}

/* specifier si le lien est visiter ou pas*/
.class a:visited {

}

/* specifier si survoler = changement de couleur*/
.class a:hover {
    color: silver;
}

/* specifier si active = changement de couleur si reste cliqué*/
.class a:hover {
    color: rgb(204, 133, 133);
}

/* ^ Voir autre selecteur sur W3Schools */ 